# EDA (Exploratory Data Analytics)

In [3]:
import pandas as pd

df = pd.read_csv("../data/raw/mtcars.csv")
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
df = df.set_index("model")
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [6]:
df.mean(axis = 1)

model
Mazda RX4              29.907273
Mazda RX4 Wag          29.981364
Datsun 710             23.598182
Hornet 4 Drive         38.739545
Hornet Sportabout      53.664545
Valiant                35.049091
Duster 360             59.720000
Merc 240D              24.634545
Merc 230               27.233636
Merc 280               31.860000
Merc 280C              31.787273
Merc 450SE             46.430909
Merc 450SL             46.500000
Merc 450SLC            46.350000
Cadillac Fleetwood     66.232727
Lincoln Continental    66.058545
Chrysler Imperial      65.972273
Fiat 128               19.440909
Honda Civic            17.742273
Toyota Corolla         18.814091
Toyota Corona          24.888636
Dodge Challenger       47.240909
AMC Javelin            46.007727
Camaro Z28             58.752727
Pontiac Firebird       57.379545
Fiat X1-9              18.928636
Porsche 914-2          24.779091
Lotus Europa           24.880273
Ford Pantera L         60.971818
Ferrari Dino           34.508182
Maserati Bora          63.155455
Volvo 142E             26.262727
dtype: float64

In [7]:
df.median(axis = 1)

model
Mazda RX4              4.000
Mazda RX4 Wag          4.000
Datsun 710             4.000
Hornet 4 Drive         3.215
Hornet Sportabout      3.440
Valiant                3.460
Duster 360             4.000
Merc 240D              4.000
Merc 230               4.000
Merc 280               4.000
Merc 280C              4.000
Merc 450SE             4.070
Merc 450SL             3.730
Merc 450SLC            3.780
Cadillac Fleetwood     5.250
Lincoln Continental    5.424
Chrysler Imperial      5.345
Fiat 128               4.000
Honda Civic            4.000
Toyota Corolla         4.000
Toyota Corona          3.700
Dodge Challenger       3.520
AMC Javelin            3.435
Camaro Z28             4.000
Pontiac Firebird       3.845
Fiat X1-9              4.000
Porsche 914-2          4.430
Lotus Europa           4.000
Ford Pantera L         5.000
Ferrari Dino           6.000
Maserati Bora          8.000
Volvo 142E             4.000
dtype: float64

In [10]:
df.mode()

    mpg  cyl   disp     hp  drat    wt   qsec   vs   am  gear  carb
0  10.4  8.0  275.8  110.0  3.07  3.44  17.02  0.0  0.0   3.0   2.0
1  15.2  NaN    NaN  175.0  3.92   NaN  18.90  NaN  NaN   NaN   4.0
2  19.2  NaN    NaN  180.0   NaN   NaN    NaN  NaN  NaN   NaN   NaN
3  21.0  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN
4  21.4  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN
5  22.8  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN
6  30.4  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN

# IQR

$$ IQR = Q3-Q1

In [12]:
IQR = df.mpg.quantile(0.75) - df.mpg.quantile(0.25)
print("IQR:", IQR)

IQR: 7.375

$$ lower = Q1 - 1.5 * IQR

$$
upper = Q3 + 1.5 * IQR
$$

In [14]:
lower = df.mpg.quantile(0.25) - 1.5 * IQR
upper = df.mpg.quantile(0.75) + 1.5 * IQR
print(lower, upper)

4.362500000000001 33.8625

In [15]:
for i in df["mpg"]:
        if i < lower:
            print(i)

In [16]:
for i in df["mpg"]:
    if i > upper:
        print(i)

33.9

In [18]:
for car in df["mpg"]:
    print(car)

21.0
21.0
22.8
21.4
18.7
18.1
14.3
24.4
22.8
19.2
17.8
16.4
17.3
15.2
10.4
10.4
14.7
32.4
30.4
33.9
21.5
15.5
15.2
13.3
19.2
27.3
26.0
30.4
15.8
19.7
15.0
21.4

In [22]:
for i, car in enumerate(df["mpg"]):
    print(i, car, df.iloc[i].name)

0 21.0 Mazda RX4
1 21.0 Mazda RX4 Wag
2 22.8 Datsun 710
3 21.4 Hornet 4 Drive
4 18.7 Hornet Sportabout
5 18.1 Valiant
6 14.3 Duster 360
7 24.4 Merc 240D
8 22.8 Merc 230
9 19.2 Merc 280
10 17.8 Merc 280C
11 16.4 Merc 450SE
12 17.3 Merc 450SL
13 15.2 Merc 450SLC
14 10.4 Cadillac Fleetwood
15 10.4 Lincoln Continental
16 14.7 Chrysler Imperial
17 32.4 Fiat 128
18 30.4 Honda Civic
19 33.9 Toyota Corolla
20 21.5 Toyota Corona
21 15.5 Dodge Challenger
22 15.2 AMC Javelin
23 13.3 Camaro Z28
24 19.2 Pontiac Firebird
25 27.3 Fiat X1-9
26 26.0 Porsche 914-2
27 30.4 Lotus Europa
28 15.8 Ford Pantera L
29 19.7 Ferrari Dino
30 15.0 Maserati Bora
31 21.4 Volvo 142E

In [23]:
for i, car in enumerate(df["mpg"]):
    if car < lower or car > upper:
        print("Outlier:", i, car, df.iloc[i].name)

Outlier: 19 33.9 Toyota Corolla